<section id="content">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card bg-dark text-light py-5 welcomeBox">
                        <div class="card-body ml-4" style="overflow: hidden;">
                            <h2 class="mb-5">Welcome, <span class="text-green">&lt;<%= username %> /&gt;</span></h2>

                            <h4> <u>Actions</u></h4>
                            <input type="text" class="input" placeholder="Enter website" id="site">
                            <button class="btn d-block mt-2 p-2 btn-outline-light btn-sm" id="addsite"><i class="fas fa-plus"></i> <strong>Add a target</strong></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="list-group py-5">
                        <div class="bg-dark siteHeading">
                            <h3 class="text-green text-center">Your targets</h3>
                        </div>
                        <li class="text-light list-group-item link-item">No sites</li>
                        <li class="text-light list-group-item link-item">
                            <ul class="pagination pagination-sm" id="pagination">
                                <div class="button-group">
                                    <button class="btn btn-outline-primary text-light previous disabled">Previous</button>
                                    <button class="btn btn-outline-primary text-light next disabled">Next</button>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/dashboard.js"></script>
